source https://api.nuget.org/v3/index.json
storage: none
framework: net10.0

nuget FsCheck
nuget Expecto
nuget Expecto.FsCheck
nuget YoloDev.Expecto.TestSdk
nuget Microsoft.NET.Test.Sdk

// Build infrastructure
group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    framework: net10.0

    nuget Fake.Core.Target
    nuget Fake.Core.Environment
    nuget Fake.Core.Trace
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.UserInput
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.BuildServer.GitHubActions
    nuget BlackFox.Fake.BuildTask
    nuget BlackFox.CommandLine
